@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@font-face {
    font-family: myPoppins;
    src: url("./fonts/poppins.regular.ttf");
    font-weight: 400, 700;
  }
@font-face {
    font-family: myOpenSans;
    src: url("./fonts/OpenSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: myOpenSans;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 60px 0 0 120px;
}

.content {
    margin: 50px 100px 0 100px;
    width: 100%;
    display: inherit;
    flex-direction:row;
    justify-content:flex-start;
}


.content img {
    height: 64vh;
    width: 90vh;
}

.text {
    padding: 25px;
    margin-left: 50px;
}

.text h1 {
    margin-top: 30px;
    font-family: myPoppins;
    margin-bottom: 20px;
    line-height: 1.5em;
    margin-right: 20px;
    letter-spacing: 2px;
}

.text p {
    margin: 0 0 25px 0;
    line-height: 1.7em;
}

.text button {
    margin-top: 5px;
    padding: 15px;
    width: 200px;
    border: 0;
    border-radius: 30px;
    background: #fff;
    color: blueviolet;
    box-shadow: 1px 2px 15px #3f3d3d;
}

.text button:hover {
    background: hsla(295, 40%, 49%, 0.74);
    Color: #fff;
  }

.social-icons {
    display: inherit;
    margin: 10px 0 0px 80%;
}

.social-icons img {
    padding-right: 20px;
    height: 35px;
    width: 35px;
}

@media screen and (min-width: 801px) and (max-width: 1439px) {
    .content {
        margin: 40px 0px 10px 10%;
        max-width: 100%;
        flex-direction: column;
        display: block;
    }

    .content img {
        margin: 0;
        width: 90%;
        height: auto;
    }

    .text {
        margin: 0;
        padding: 0;
        height: auto;
        text-align: center;
        width: 90%;

    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        margin-bottom: 20;
        font-size: 20px;
    }

    .social-icons {
        display: inline;
        padding-bottom: 40px;
        margin-left: 45%;
    }
}

@media screen and (min-width: 376px) and (max-width: 800px) {
    body {
        background-image: url("./images/bg-mobile.svg") no-repeat;   
    }

    .logo {
        margin: 0;
        padding: 30px 10px 20px 10%;
        max-width: 90%;
    }

    .logo img {
        height: auto;
        width: 90%;
    }

    .content {
        margin: 40px 0px 10px 10%;
        max-width: 100%;
        flex-direction: column;
        display: block;
    }

    .content img {
        margin: 0;
        width: 90%;
        height: auto;
    }

    .text {
        margin: 0;
        padding: 0;
        height: auto;
        text-align: center;
        width: 90%;

    }

    .text h1 {
        font-size: 23px;
    }

    .text p {
        margin-bottom: 20;
    }

    .social-icons {
        display: inline;
        padding-bottom: 40px;
        margin-left: 37%;
    }
}

@media screen and (max-width: 375px) {
    body {
        background-image: url("./images/bg-mobile.svg") no-repeat;
        
    }

    .logo {
        margin: 0;
        padding: 30px 10px 20px 10%;
        max-width: 90%;
        height: auto;
    }

    .logo img {
        height: auto;
        width: 90%;
    }

    .content {
        margin: 30px 0 10px 10%;
        max-width: 100%;
        flex-direction: column;
        display: inline;
    }

    .content img {
        margin: 0;
        width: 90%;
        height: auto;
    }

    .text {
        margin: 0;
        padding: 0;
        height: auto;
        text-align: center;
        width: 90%;
    }

    .text h1 {
        font-size: 23px;
    }

    .text p {
        margin-bottom: 20;
    }

    .social-icons {
        display: inline;
        padding-bottom: 40px;
        margin-left: 29%;
    }
}

