@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@font-face {
    font-family: myPoppins;
    src: url("./fonts/poppins.regular.ttf");
    font-weight: 400, 700;
  }
@font-face {
    font-family: myOpenSans;
    src: url("./fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: myOpenSans;
}

.container {
    width: 100%;
    height: 100vh;
}

#logo {
    margin: 60px 0 0 120px;
}

.content {
    margin: 50px 0 0 120px;
}

.content img {
    float: left;
    margin-right: 60px;
    height: 60vh;
    width: 45vw;
}

.text {
    display: block;
    padding: 45px;
    width: 83vw;
}

.text h1 {
    font-family: myPoppins;
    margin-bottom: 18px;
    width: 75vw;
    line-height: 1.5em;
}

.text p {
    margin-bottom: 15px;
    line-height: 1.7em;
    font-size: .9em;
    padding-right: 80px;
}

.text button {
    padding: 10px;
    width: 120px;
    border: 0;
    border-radius: 30px;
    background: #fff;
    color: blueviolet;
    box-shadow: 2px 4px 8px #3f3d3d;
}

.social-icons {
    float: right;
    margin-top: 10px;
    margin-right: 140px;
    padding-right: 50px;
    margin-bottom: 0;
}

.social-icons img {
    margin-top: 25px;
    padding-right: 20px;
    height: 35px;
    width: 35px;
}

@media (max-width: 470px) {
    
    body {
        background-image: url("./images/bg-mobile.svg");
    }
    
    .content h1 {
        font-size: 1.4em;
    }
}

